body{
    font-family: 'Raleway', sans-serif;
    background-image: url("./assets/grama.png");
    background-size: 700px;
    padding: 0;
}
.container{
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    padding-top: 100px;
    flex-wrap: wrap;
    flex-direction: column;
}
.filter {
    margin: 0;
    z-index: 3;
    backdrop-filter: blur(2px);
    background-color: rgba(0, 0, 0, 0.397);
}
.pokebutton{
    background-color: rgb(255, 145, 0);
    color: cornsilk;
    border: none;
    border-radius: 10px 12px;
    width: auto;
    height: 25px;
    font-size: 18px;
    margin-left: 10px;
}
.labelinput{
    color: rgb(255, 255, 255);
    margin-right: 10px;
    font-family: "Viga", sans-serif;
}
#inputname{
    height: 25px;
    border-radius: 10px 12px;
    border: none;
    color:rgb(161, 1, 1);
    padding-left: 10px;
    font-size: 18px;
}
#pokecard{
    display: flex;
    flex-direction: column;
    align-items: center
}
#pokecard::after{
    content: url("./assets/pokedex.png");
    position: absolute;
}
.pokeimg{
    margin-top: 100px;
    margin-left: 240px;
    margin-right: 50px;
    width: 100px;
    height: auto;
    background-color: blanchedalmond;
}
h2{
    margin-top: 0;
}
#pokenome{
    margin-top: -93px;
    margin-left: -100px;
    margin-right: 130px;
    z-index: 10;
    color: blanchedalmond;
    width: 75px;
    display: flex;
    align-items: flex-start;
    align-content: flex-start;
    flex-direction: column;
    text-transform: capitalize;
    font-family: "Viga", sans-serif;   
}
#poketipo{
    font-size: 8px;
    margin-top: 85px;
    margin-left: -100px;
    margin-right: 130px;
    z-index: 10;
    color: blanchedalmond;
    width: 75px;
    display: flex;
    align-items: flex-start;
    align-content: flex-start;
    flex-direction: column;
    text-transform: capitalize;
    font-family: "Viga", sans-serif;
}
